<%- model_class = Thing -%>

  <div class="container animsition">
<div id="carousel-example-generic" class="carousel slide col-md-6 fotos" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag @thing.foto.url(:medium), :class => 'img-responsive' %>
    </div>
    <div class="item">
      <%= image_tag @thing.foto2.url(:medium), :class => 'img-responsive' %>
    </div>
    <div class="item">
      <%= image_tag @thing.foto3.url(:medium), :class => 'img-responsive' %>
    </div>

  </div>

</div>





<div class="col-md-6 textowo">



  <div class="panel-body opa "><h2><%= @thing.title %></h2></div>
      <hr>
  <div class="panel-body opa "><%= simple_format(@thing.opisik) %></div>
<hr>
          <div class=" znik2 panel-body opa"><%= simple_format(@thing.meta) %></div>
<hr>

                  <div class=" znik1 panel-body opa">
        <p>  <%= @thing.opis %></p> </div>







</div> <!-- koniec col-md-6 textowo -->




</div><!-- koniec container  -->
