<p id="notice"><%= notice %></p>

<p>
  <strong>Co:</strong>
  <%= @news.co %>
</p>

<p>
  <strong>Kiedy:</strong>
  <%= @news.kiedy %>
</p>

<p>
  <strong>Czego:</strong>
  <%= @news.czego %>
</p>

<p>
  <strong>Link:</strong>
  <%= @news.link %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
